name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Azure SQL Deploy
        uses: Azure/sql-action@v1
        with:
          # Name of the Azure SQL Server name, like Fabrikam.database.windows.net.
          server-name: 'livecoders.database.windows.net'
          # The connection string, including authentication information, for the Azure SQL Server database.
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING }}
          # Path to DACPAC file. *.dacpac or a folder to deploy
          dacpac-package: 'Database.dacpac'
          # Path to SQL script file. *.sql or a folder to deploy
          sql-file: './SQLQuery2.sql'
          # In case DACPAC option is selected, additional SqlPackage.exe arguments that will be applied. When SQL query option is selected, additional sqlcmd.exe arguments will be applied.
